[submodule "subprojects/json"]
	path = subprojects/json
	url = https://github.com/nlohmann/json.git
	branch = master
[submodule "subprojects/googletest_uvm"]
	path = subprojects/googletest_uvm
	url = https://github.com/mballance/googletest_uvm.git
	branch = master
[submodule "ve/simscripts"]
	path = ve/simscripts
	url = https://github.com/mballance/simscripts.git
	branch = master
[submodule "subprojects/json-c"]
	path = subprojects/json-c
	url = https://github.com/jehiah/json-c.git
	branch = master
